@{
	ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home/Index.css" />

@*<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>*@

<div class="jumbotron" style="background-image: @Url.Content("~/img/jumbotron-bg.png")">
	<h1>Welcome.</h1>
</div>

<div class="row">

			<div class="col mb-3">
				<div class="card border-info">
					<div class="card-header">Term and Conditions</div>
					<div class="card-body text-info">
						<p class="card-text">Things you need to remember and principles when using this system</p>
						<button class="btn btn-outline-info btn-block">Term and Conditions</button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card border-success">
					<div class="card-header">About Us</div>
					<div class="card-body text-success">
						<p class="card-text">About ASP.NET Core and description about this software</p>
						<button class="btn btn-outline-success btn-block">Read More</button>
					</div>
				</div>
			</div>
</div>
