@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/Home/Privacy.css" />

<div class="align-center mb-4 mt-4 title">
    <h2 class="flex-row text-center mt-2">Term and Conditions</h2>
    <p class="flex-row text-center mt-2">Think you need to remember when using this system</p>
    <hr style="width:30%" />
</div>

<div>
  <ul class="rule">
      <li class="mb-3">Account when create need to verify through email to using this system</li>
      <li class="mb-3">All idea need to agree to term and Conditions before submit </li>
      <li class="mb-3">If there is any inappropriate idea, QA coordinator have the right to delete it</li>
      <li class="mb-3">Author of the idea can post idea anonymously, however, real data still showing on the system</li>
      <li class="mb-3">Idea content must be corresponding with the Idea title, any misleading content will be delete</li>
      <li class="mb-3">All Idea have the limit period to submit, new Idea couldn't be submit when the period end</li>
      <li class="mb-3">Idea from others department can't be seen if Staff are not in it</li>
  </ul>
</div>
