body {
}

@media screen and (max-width:1025px) {
    .row {
        margin-left: 36px !important;
    }

    .btn {
        margin-left: 49px !important;
    }
}

@media screen and (max-width:769px) {
    .row {
        margin: 0px !important;
    }

    .btn {
        padding: 5px 0px 5px 0px !important;
        margin-left: 15px !important;
    }
}

@media screen and (max-width:601px) {
    .row {
        border: none !important;
    }

    .btn {
        margin-left: 130px !important;
    }

    #change-password-form {
        padding-left: 5px !important;
        padding-top: 0px!important;
        border-top: 1px solid;
        border-color: #CCCCCC;
    }
    .nav-link {
        margin-bottom: 11px;
    }
}

@media screen and (max-width:415px) {
    .btn {
        margin-left: 70px !important;
    }

    #change-password-form {
        padding-left: 5px !important;
        padding-top: 20px;
        border-top: 1px solid;
        border-color: #CCCCCC;
    }
}

@media screen and (max-width:376px) {
    .btn {
        margin-left: 50px !important;
    }

    #change-password-form {
        padding-left: 5px !important;
        padding-top: 20px;
        border-top: 1px solid;
        border-color: #CCCCCC;
    }
}

@media screen and (max-width:321px) {
    .btn {
        margin-left: 35px !important;
    }
    *{
        overflow:hidden;
    }
}
