@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div style="display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
  flex-direction: column">
    <h1>@ViewData["Title"]</h1>
    <br />
    <i class="fa fa-check-circle-o fa-4x" aria-hidden="true"></i>
</div>
