
@model ICSCOMP1640CORE.Models.Coordinator
<div class="panel panel-default">
    <div class="panel-body">
        <p>Full Name: @Model.User.Email</p>
           <p>Full Name: @Model.User.FullName</p>
              <p>Full Name: @Model.User.Age</p>
                 <p>Full Name: @Model.User.Address</p>
  
    </div>
</div>
   
