@model ICSCOMP1640CORE.Models.Idea

<div style="text-align:center;">
    <h1>IDEAS NAME</h1>
    <div>
        <p>Author: @Model.User.FullName</p>
        <p>Submit at @Model.SubmitDate</p>
    </div>
    <div class="row" style="margin-left:auto; margin-right:auto">
        <a class="btn btn-info btn-outline-warning col-4">DOCUMENT - CLICK TO DOWNLOAD</a>
        <p class="col-6"></p>
        @Html.ActionLink("DELETE IDEA", "DeleteIdea", "Admins", new { id = @Model.Id }, new { @class = "btn btn-info btn-outline-warning col-2 far fa-trash-alt", @title = "Delete" })
    </div>
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">Content</h5>
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
            <p class="card-text">Comment</p>
        </div>
    </div>
</div>

<a class="btn btn-info btn-outline-warning col-3 fas fa-reply" asp-controller="Admins" asp-action="ManageIdea"> Back to previous pageD</a>