/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');*/

* {
    margin: 0;
    padding: 0;
 
    font-family: 'Poppins',sans-serif;
}
/*body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
*/
.infor {
    background-color: #66FF99;
    height: 10%;
    display: flex;
    width: 65%;
    justify-content: center;
    margin-left: 20%;
    box-shadow: 0 0 5px gold, 0 0 7px #0000FF;
    border-radius: 15px;
}
.title {
    margin: 66px 90px 20px 50px;
    margin-right: 90px;
    font-size: 20px;

}
.element {
    margin-bottom: 20px;
}
.btn {
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 30%;
}
@media screen and (max-width:1025px){
    .containerInfor {
        margin-top: 20px;
        width: 100%;
    }
}
@media screen and (max-width:769px){
    .btn {
        margin-left: 22%;
    }
    .title-Infor {
        margin-top: -42px;
    }
}
@media screen and (max-width :601px){
    .infor {
        width: 102% !important;
        margin: 0px;
        margin-top: 35px;
    }
    .btn {
        margin-left: 30%;
        justify-content:center!important;
    }
    .title-Infor {
        margin-top: -42px;
    }
}
@media screen and (max-width :376px) {
    .containerInfor {
        font-size: 15px !important;
        margin-top: 20px;
        margin-left: 20px;
    }
    .title-Infor {
        font-size: 25px !important;
        margin-top: -42px;
    }
    .btn {
        margin-left: 16%!important;
    }
}
@media screen and (max-width: 415px){
    .containerInfor {
        font-size: 17px !important;
        width: 245px!important;
        margin-top: 20px;
        margin-left: 34px;
    }

    .title-Infor {
        font-size: 25px !important;
        margin-left: 16px;
        margin-top: -42px;
    }

    .btn {
        margin-left: 22%
        !important;
    }
}
@media screen and (max-width:321px){
    .title-Infor {
        font-size: 20px !important;
        margin-left: 40px;
    }
    .btn {
        margin-left: 75px !important;
        
    }
}
