/*﻿body {
}

.Name {
    width: 80%;
    margin-left: 100px;
}*/

/*.button {
    display: flex;
}*/

/*.Create {
    margin-right: 10px;
    margin-left: 470px;
}

.Back {
    margin-right: auto;
    align-content: center;
}
.Frame {
    border: 1px solid;
    border-radius: 12px;
    margin-top: 50px;
}*/

/*Mobile: width < 740px */
/*@media screen and (max-width: 768px)
{
    .Frame{
        flex-direction: column;
    }
    .Create{
        margin-left: 300px;
    }
    .Name {
        width: 80%;
        margin-left: 70px;
    }
}*/
/*Tablet: width >=740 and width <=1024px */
/*@media screen and (min-width: 740x) and (max-width: 1023px)
{

}*/
/*PC: width >=1024px */
/*@media screen and (min-width: 1023px){

}*/