@model ICSCOMP1640CORE.Models.Category
@Html.ValidationMessage("ExistCategory")

@{
    ViewBag.Title = "Create Category";
}


<h1 class="mt-5 mb-4">Create Category</h1>

<form asp-controller="Managers" asp-action="CreateCategory" method="post">
    <div class="mw-100 mb-5">
		<div class="form-row">
			<div class="form-group col-md-6">
                <label>Category Name</label>
				<input type="text" class="form-control" placeholder="Category Name" asp-for="Name" required>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
			</div>

			<div class="form-group col-md-6">
			<label>Description</label>
			<input type="text" class="form-control" placeholder="Category Description" asp-for="Description" required>
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="mt-4">
			<button type="submit" class="btn btn-outline-success">Create</button>
			<a class="btn btn-outline-primary" asp-controller="Managers" asp-action="ManageCategories">Cancel</a>
        </div>
    </div>
</form>