@model ICSCOMP1640CORE.Models.Coordinator
<div class="panel panel-default">
	<div class="panel-body">
		<p>Full Name: @Model.Email</p>
		<p>Full Name: @Model.FullName</p>
		<p>Full Name: @Model.Age</p>
		<p>Full Name: @Model.Address</p>

	</div>
</div>

