@model ICSCOMP1640CORE.Models.Idea

@{
	ViewData["Title"] = "Create Coordinator Account";
}

<h1 class="mt-2 mb-3">Edit Idea</h1>

@if (TempData["Danger"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <strong>@TempData["Danger"]</strong>
    </div>
}
<form asp-controller="Staffs" asp-action="EditIdea" method="post">
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label>Idea Name</label>
        <input required type="text" class="form-control" placeholder="Input Idea Name" asp-for="IdeaName">
        <span asp-validation-for="IdeaName" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label for="IdeaContent">Content</label>
    <textarea  class="form-control" id="IdeaContent" rows="5" type="text" class="form-control" asp-for="Content" required></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Category</label>
        @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as SelectList,
                  "Select Department", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-outline-success">Edit</button>
    <a class="btn btn-outline-primary" asp-controller="Staffs" asp-action="IdeaIndex">Cancel</a>
</form>

