@model ICSCOMP1640CORE.Models.Department


<label>Total Ideal  :</label>  @ViewBag.number
<br />
<label>Total Anonymous  :</label>  @ViewBag.IsAnonymous
<br />
<label>Total idea With No Comment  :</label>  @ViewBag.noCmt
<br />
<label>nguoi gui idea trong department  :</label>  @ViewBag.userGiveIdea
