@model ICSCOMP1640CORE.Models.User
@{
    ViewData["Title"] = "Staff Profile";
}

<h4 style="text-align: center; margin: 25px 0 10px 0;">@ViewData["Title"]</h4>

<body>
	<div class="infor">
		<div class="title">
			<div class="title-Infor" style="font-size:35px;text-align: center; padding-bottom:10px;">
				@Model.FullName
			</div>
		   <hr style="width: 20%;"/>
			<div style="text-align:center; font-size: 19px; display:flex; flex-direction: column; gap: 15px; margin-top: 30px;">
				<div class="element">
					Email:&nbsp;&nbsp;@Model.Email
				</div>
				<div class="element">
					Gender:&nbsp;&nbsp;@Model.Gender
				</div>
				<div class="element">
					Age:&nbsp;&nbsp;@Model.Age
				</div>
				<div class="element">
					Phone Number:&nbsp;&nbsp;@Model.PhoneNumber
				</div>
				<div class="element">
					Address:&nbsp;&nbsp;@Model.Address
				</div>
				<div class="element">
					Department:&nbsp;&nbsp;@Model.Department.Name
				</div>
			</div>


			<div style="text-align: center; margin-top: 50px;">
				<a asp-controller="Coordinators" asp-action="ManageStaffs" class="btn btn-dark">Back</a>
			</div>

        </div>


    </div>
</body>


