@model ICSCOMP1640CORE.Models.Idea
@{
    ViewBag.Title = "Idea Details";
}



<div class="card">
    <h2 style="text-align: center" class="card-header">Idea Details</h2>
    <div class="card-body">
        <p>Idea Name: @Model.IdeaName</p>
        <p>Content Of Idea: @Model.Content</p>
        <p>Category: @Model.Category.Name</p>
        <p>Submit Date: @Model.SubmitDate.ToString("yyyy-MM-dd")</p>
    </div> 
</div>
<center><a class="btn btn-primary col-2 fas fa-reply mt-4" asp-controller="Coordinators" asp-action="GetIdeaFromCoor"></a></center>